html {
    height: 736px;
    
}
header {
    background-color: #437D4B;
    color: white;
}

body {
    background-image: url('./img/4.jpeg');
    
}
#wrapper {
    
}

img {
    align-items: center;
    margin: auto;
    height: 50px;
    width: 50px;
}
.title {
    font-weight: bold;
    text-align: center;
}
#mapbtn {
    background-color: #437D4B;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%; 
    padding: 20px;
    transition-duration: 1s;
    width: 200px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#mapbtn:hover {
    width: 300px;
    font-size: 2.0rem;
 
    transition: 1s;
    transition-duration: 1s;
  }
  #mapbtn:focus {
      outline: none;
  }

.button {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  
}