.simple {
    background-color: #437D4B;
    color: lightgray;
    text-align: center;
    font-weight: bold
}

div button {
    border-radius: 8px;
    position: relative;
    top: 180px;
    left: 105px;
    color: #437D4B;
    padding: 15px 32px;
    font-weight: bold;

}

.background-div {
    background-color: lightgrey;
    opacity: 30%;
}

body {
    background-image: url("");
    
}
#map {
    height: 400px;
}

#wrapper {
    height: 400px;
}
html {
    width: 414px;
    height: 750px;
}

